<div class="container-fluid p-0">
    <div class="row authentication-blk justify-content-end">
        <div class="col-md-12 loginbg">
            <div class="login-pg">
                <img src="assets/images/loginbg.png">
            </div>
        </div> 
        <div class="col-md-3 align-vertically">
            <div class="loginlogo mb-2">
                <div class="logo-img"><img src="assets/images/logo-wearables.png" /></div>
            </div>
            <!-- chnages -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>