<div white class="bg-white p-3">
    <div class="row">
        <div class="col scrollbar scrollbar-near-moon thin hideSinfo">
            <div class="boxItem mt-0">
                <div class="obslist scrollbar scrollbar-near-moon thin hideSinfo" *ngIf="petObservations">
                    <div class="obs-blk" *ngFor="let obs of petObservations; let i=index">
                        <span *ngIf="obs.imagePath !== '';else videoThumbnailURL">
                            <img [src]='"https://storage.googleapis.com/wearables-sensor-data-pr/UAT/GCloud/WPortal/ObservationPhoto/"+(obs.imagePath)' class="p-image">
                          </span>
                          <ng-template #videoThumbnailURL>
                            <span *ngIf="obs.videoThumbnailURL !== '';else defaultImg">
                              <img [src]='"https://storage.googleapis.com/wearables-sensor-data-pr/UAT/GCloud/WPortal/ObservationPhoto/"+(obs.videoThumbnailURL)' class="p-image">
                            </span>
                          </ng-template>
                          <ng-template #defaultImg>
                            <span>
                              <img src="assets/images/no-dogs.svg" class="p-image" />
                            </span>
                          </ng-template>                   
                        <div>
                            <div class="b-title">{{obs.activityType}}</div>
                            <div class="b-date">{{obs.observationTime | customDateFormat }}</div>
                            <div class="b-dis">
                                {{obs.observationText}}
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="petObservations.length == 0">
                    <div>No Observations Found</div>
                </div>
                <div class="theme-grey-text mt-3 text-right pointer viewmore-link" (click)="patientObservationsList()">View More</div>
            </div>       
        </div>
    </div>
</div>